.articleList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.articlePageHeader {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.input {
    margin-right: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card {
   width: 700px;
   padding: 10px;
   background-color: antiquewhite;
 }

.actionBtn {
margin-bottom: 20px;
}

.button {
    margin-right: 10px;
}